<!-- ? MAIN CONTAINER -->
<div class="main-cont">
    <!-- ? HEADER CONTAINER -->
    <div class="header">
        <!-- ? HEADER -->
        <p class="font_b1 font_regular color_fg_tertiary"> {{ 'auth.login.subtitle' | translate:ts.GetLang() }} </p>

    </div>
    
    <!-- ? FORM -->
    <form autocomplete="off">
        <!-- ? FIELD | USENAME -->
        <div class="field_">
            <!-- LABEL -->
            <label class="font_label font_medium color_fg_secondary"> {{ 'auth.login.email' | translate:ts.GetLang() }} </label>
            <!-- ? INPUT CONTAINER -->
            <div class="input_cont">
                <img src="../">
                <!-- INPUT -->
                <input type="text" placeholder="placeholder...">

            </div>

        </div>



    </form>

</div>