<!-- ? MAIN CONTAINER -->
<main>
    <!-- ? NAVBAR -->
    <ul class="navbar font_b1 font_medium color_primary">
        <!-- ? LINK -->
        <li>
            <!-- TXT -->
            <a class="navbar font_b1 font_medium color_primary">
                Home
            </a>

        </li>
        <!-- ? LINK -->
        <li>
            <!-- TXT -->
            <a class="navbar font_b1 font_medium color_primary">
                Lang
            </a>

        </li>

    </ul>
    <!-- ? SECTION 1 | FORM -->
    <section>
        <!-- ? LOGO CONTAINER -->
        <div class="logo-cont">
            <!-- LOGO -->
            <img [src]="'../../../assets/theme/'+localService.GetMode+'/logos/logo-avatar.svg'">

        </div>

        <!--  ? ROUTER OUTLET -->
        <div class="router-outlet">
            <!--  BREADCRUMB -->
            <breadcrumb/>

            <!--  ROUTER OUTLET -->
            <router-outlet></router-outlet>
            
        </div>
        
        <div class="version">
            <!--  ROUTER OUTLET -->
            <version/>
            
        </div>

    </section>
    
</main>