<!-- ? MAIN CONTAINER -->
<main>
    <!-- ? NAVBAR -->
    <ul class="header font_b1">
        <li>home</li>
        <li>lang</li>
    </ul>
    <!-- ? SECTION 1 | FORM -->
    <section>
        <!-- ? LOGO CONTAINER -->
        <div class="logo-cont">
            <!-- LOGO -->
            <img [src]="'../../../assets/theme/'+localService.GetMode+'/logos/logo-avatar.svg'">

        </div>

        <!--  ? ROUTER OUTLET -->
        <div class="router-outlet">
            <!--  BREADCRUMB -->
            <breadcrumb/>

            <!--  ROUTER OUTLET -->
            <router-outlet></router-outlet>
            
        </div>
        
        <div class="version">
            <!--  ROUTER OUTLET -->
            <version/>
            
        </div>

    </section>
    
</main>