/* ? MAIN  */
main {
    display: flex;
    height: 100vh;
    background-color: var(--grey-50);
    justify-content: space-between;
}
/* ? SECTION 1 | TRANSLATE & THEME --------------------------------> */
section:nth-of-type(1) {
    width: 100%;
}
/* ? HEADER MENU */
.header {
    width: 100%;
    display: flex;
    gap: var(--spacing-sm);
    margin: var(--spacing-sm);
}
/* ? SECTION 2 | AUTH ROUTER ---------------------------------------> */
section:nth-of-type(2) {
    padding: var(--spacing-xl);
    margin: var(--spacing-sm);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-sm);
    background-color: var(--color-bg-primary);
    border-radius: var(--radius-rounded);
}
/* ? LOGO CONTAINER */
.logo-cont {
    display: flex;
}
.logo-cont img {
    height: 3.75rem;
    width: 3.75rem;
}
.router-outlet {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-sm);
}

/* * Responsive SM */
@media screen and (max-width:480px) {
    /* ? MAIN  */
    main {
        flex-direction: column;
        justify-content: normal;
        background-color: var(--color-bg-primary);
    }
    section {
        padding: var(--spacing-xl) 0;
        width: 100%;
        margin: 0;
    }
}

/* * Responsive MD */
@media screen and (min-width:481px) and (max-width:1024px) {
    main {
        flex-direction: column;
        justify-content: normal;
        background-color: var(--color-bg-primary);
    }
    /* ? NAVBAR */
    .navbar {
        padding: var(--spacing-xs) 0;
    }
    section {
        padding: var(--spacing-lg);
    }
}