<!-- ? MAIN CONTAINER -->
<div class="main_cont">
    <!-- ? FORM CONTAINER -->
    <form [formGroup]="forgotForm" 
        (ngSubmit)="submiforgot()">
        <!-- TITLE -->
        <p class="font_h2 font_regular color_primary"> {{ 'auth.login.forgot' | translate:ts.GetLang() }} </p>
        <!-- ? USER NAME -->
        <div class="field_">
            <!-- LABEL -->
            <label class="font_label font_regular color_primary"> {{ 'auth.login.username' | translate:ts.GetLang() }} </label>
    
            <!-- INPUT CONT-->
            <div class="input_cont">
                <!-- ICON EMAIL -->
                <img [src]="'../../../../assets/theme/' + localService.GetMode() + '/icons/icon-email.svg'">

                <!-- INPUT -->
                <input type="text"
                formControlName="email"
                class="input_primary_img"
                [ngClass]="{
                    'input_error' : formService.invalidField( forgotForm, 'email', forgotSubmitted )
                }">

            </div>
             <!-- ! ERROR MSN -->
             <span *ngIf="formService.invalidField( forgotForm, 'email', forgotSubmitted  )" 
                class="font_body font_regular input_error_msn"> 
                {{ formService.fieldMsn(forgotForm,'email')| translate:ts.GetLang() }} 
            </span>

        </div>
    
        <!-- BTN CONTAINER -->
        <div class="btn_cont">
            <button type="submit" class="btn_primary"> {{ 'buttons.send' | translate:ts.GetLang() }} </button>
            <a routerLink="../login" class="btn_secondary"> {{ 'buttons.back' | translate:ts.GetLang() }} </a>
        </div>

    </form>

</div>