* {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font);
    font-weight: var(--font-medium);
    font-size: var(--font-b1);
    color: var(--color-primary);
    transition: all .2s ease-in-out;
}
a {
    text-decoration: none;
}
::marker {
    color: transparent;
}
/* ? FONTS -------------------------------------------------> */
/* ? Weigh -----------> */
.font_regular {
    font-weight: var(--font-regular);
}
.font_medium {
    font-weight: var(--font-medium);
}
.font_bold {
    font-weight: var(--font-bold);
}
.font_semibold {
    font-weight: var(--font-semibold);
}
/* ? Color --------------> */
/* * Primary */
.color_primary {
    color: var(--color-primary);
}
.color_primary_50 {
    color: var(--color-primary-50);
}
.color_primary_100 {
    color: var(--color-primary-100);
}
.color_primary_200 {
    color: var(--color-primary-200);
}
.color_primary_300 {
    color: var(--color-primary-300);
}
.color_link {
    color: var(--blue-300);
}
/* * Brand */
.color_brand {
    color: var(--color-brand);
}
.color_brand_soft {
    color: var(--color-brand-soft);
}
.color_brand_high {
    color: var(--color-brand-high);
}
/* * Primitive */
.color_danger {
    color: var(--danger);
}
/* ? Size --------------> */
/* * Headlines */
.font_h1 {
    font-size: var(--font-h1);
}
.font_h2 {
    font-size: var(--font-h2);
}
.font_h3 {
    font-size: var(--font-h3);
}
.font_h4 {
    font-size: var(--font-h4);
}
.font_h5 {
    font-size: var(--font-h5);
}
.font_h6 {
    font-size: var(--font-h6);
}
/* * Body */
.font_b1 {
    font-size: var(--font-b1);
}
.font_b2 {
    font-size: var(--font-b2);
}
/* * Captions */
.font_c1 {
    font-size: var(--font-c1);
}
.font_c2 {
    font-size: var(--font-c2);
}
.font_c3 {
    font-size: var(--font-c3);
}
.icon_sm {
    width: var(--icon-sm);
    height: var(--icon-sm);
}
/* ? BUTTONS -------------------------------------------------> */
/* * Button Defaul Classes */
.btn_ {
    border: .0625rem solid transparent ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--radius-minimal);
    gap: var(--gap);
    cursor: pointer;
}
/* ICON */
.btn_ img {
    width: var(--icon-sm);
    height: var(--icon-sm);
}
/* ! If button has an image */
.btn_:has(img) {
    --gap:var(--spacing-xs)
}
/* * BTN STYLES */
/* ? BUTTON PRIMARY */
/* * Default */
.btn_primary {
    color: var(--color-primary-50);
    outline: .0625rem solid transparent;
    background-color: var(--color-primary);
}
/* * Hover */
.btn_primary:hover {
    color: var(--color-primary-50);
    outline: .0625rem solid transparent;
    background-color: var(--color-primary-200);
}
/* * Active */
.btn_primary:active {
    color: var(--color-primary-100);
    outline: .0625rem solid transparent;
    background-color: var(--color-primary-300);
}

/* ? BUTTON DISCORD */
/* * Default */
.btn_discord {
    color: var(--color-primary-50);
    outline: .0625rem solid transparent;
    background-color: #5865F2;
}
/* * Hover */
.btn_discord:hover {
    color: var(--color-primary-50);
    outline: .0625rem solid transparent;
    background-color: #6672f5;
}
/* * Active */
.btn_discord:active {
    opacity: 2;
    color: var(--color-primary-50);
    outline: .0625rem solid transparent;
    background-color: #5865F2;
}
/* ? BUTTON SECONDARY */
.btn_secondary {
    color: var(--color-primary);
    outline: .0625rem solid var(--color-primary-200);
    background-color: var(--color-primary-50);
}
/* * Hover */
.btn_secondary:hover {
    color: var(--color-primary-50);
    outline: .0625rem solid transparent;
    background-color: var(--color-primary-100);
}
/* * Active */
.btn_secondary:active {
    color: var(--color-primary-100);
    outline: .0625rem solid transparent;
    background-color: var(--color-primary-200);
}